config.py
.ipynb_checkpoints/Hunter-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Heather-checkpoint.ipynb
.ipynb_checkpoints/Scrape_and_Clean-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Final-checkpoint.ipynb
.ipynb_checkpoints